.comments-area {
    height: 50vh;
    overflow-y: scroll;
}

.comment-form {
    background-color: transparent!important;
    border: none !important;
    color: white !important;
}

.comment-button {
    background-color: transparent !important;
    border: none !important;
    border-radius: none !important;
}