$outline: #2f3336;

.main-container {
  display: flex;
  flex-direction: column;
  width: 601px;

  @media (min-width: 500px) {
    border-left: 1px solid $outline;
    border-right: 1px solid $outline;
  }
}
