$twitter: #33a1f2;
$gray: #7a7a7a;
$twitter-dark-hover: #011017;
$white: #d9d9d9;

.menu-container {
  display: none;
  @media (min-width: 500px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    padding: 9px 19px 20px;
    max-height: 100vh;
    overflow-y: auto;
  }
}

.topside {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1280px) {
    align-items: flex-start;
  }
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  fill: $twitter;
  margin-bottom: 20px;
}

.menu-avatar {
  img {
    flex-shrink: 0;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: $gray;
  }
}

.botside {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.icon {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  color: $white;
  margin-left: 0.5rem;
}

.menu-icon {
  width: 2rem;
  height: 2rem;
  color: $white;
}

.profile-data {
  display: none;

  @media (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 14px;
    > span {
      color: $gray;
    }
  }
}

.menu-button {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;

  > span {
    display: none;
  }

  @media (min-width: 1280px) {
    > span {
      display: inline;
      margin-left: 19px;
      font-weight: bold;
      font-size: 19px;
    }
    padding-right: 15px;
  }

  padding: 8.25px 0;
  outline: 0;

  & + button {
    margin-top: 16.5px;
  }

  & + button:last-child {
    margin-top: 33px;

    width: 40px;
    height: 40px;

    > span {
      display: none;
    }

    @media (min-width: 1280px) {
      width: 100%;
      height: unset;

      > span {
        display: inline;
      }
    }
  }

  cursor: pointer;
  border-radius: 25px;

  &:hover {
    background: $twitter-dark-hover;
  }

  &:hover,
  &.active {
    span,
    svg {
      color: $twitter;
      fill: $twitter;
    }
  }
}
